  #about {
    border: none;
    display: flex;
    width: 100%;
    height: 100vw;
    position: relative;
  }

  .aboutimage{
    /* border: yellow solid 1px; */
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 0;
    padding: 0.5vw;
    background-color: var(--accent2);
    box-shadow: 0 0 1vw var(--accent1);
    transition: box-shadow 0.3s ease-in-out;

  }
  .aboutimage:hover{
    box-shadow: 0 0 2vw var(--accent1);
  }

  .aboutIMG{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    /* display: none; */
  }

  .aboutTopText{
    /* border: 1px solid yellow;; */
    position: absolute;
    text-wrap: pretty;
    font-size: 4vw;
    font-weight: bold;
    background: transparent;
    text-align: center;
    top: 10%;
    width: 41vw;
    height: max-content;
    left: 17%;
    color: var(--text-color);
    z-index: 1;
  }

  .aboutTopText span{
    font-family: Painter Personal Use Only, "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 0.4vw;
    font-size: 5.5vw;
    position: relative;
    top: -1.5vw;    
  }

  .aboutTopText span::after{
    content: '';
    width: 95%;
    height: clamp(5px, 3vw, 30px);
    background-color: transparent;
    box-shadow: inset 0 0 1vw var(--accent1);

    position: absolute;
    top: 90%;
    left: 0%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 5px;
  }

  .aboutMe {
    position: absolute;
    text-wrap: pretty;
    font-size: 10vw;
    font-weight: 200;
    background: transparent;
    text-align: center;
    top: 32%;
    width: 41vw;
    height: max-content;
    left: -6%;
    color: var(--text-color);
    text-shadow: -0.8vw 0.8vw 0.4vw var(--accent1);
    font-family: Monday Champions, Painter Personal Use Only;
    transform: rotate(-5deg);
    transition: text-shadow 0.3s ease-in-out;
  }

  .aboutMe:hover{
    text-shadow: 0vw 0vw 0.4vw var(--accent1);
  }

  .aboutAbout{
    position: absolute;
    background: var(--glass-background);
    border: var(--glass-border);
    box-shadow: var(--glass-shadow);
    border-radius: 10px;
    padding: 1vw;
    text-wrap: pretty;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    top: 46%;
    width: 45vw;
    height: max-content;
    left: 20%;
    color: var(--text-color);
    font-weight: 100;
  }

  .aboutAbout .greeting{
    display: block;
    font-family: Monday Champions, Painter Personal Use Only;
    font-size: 4vw;
    font-weight: 100;
    transform: rotate(-5deg);
  }

  .aboutAbout .lebitso{
    display: block;
    /* font-family: Monday Champions, Painter Personal Use Only; */
    font-size: 4vw;
    position: relative;
    top: -1.5vw;
    
  }

  .aboutAbout .lebitso::after{
    content: '';
    width: 50%;
    height: 10px;
    background-color: transparent;
    box-shadow: var(--border-glass-shadow);
    border-radius: 5px;
    position: absolute;
    top: 4.5vw;
    left: 11.5vw;
  }

  .experience {
    font-size: 12vw;
    font-weight: 200;  
    background: transparent;
    text-align: left;
    height: max-content;
    color: var(--text-color);
    text-shadow: -0.8vw 0.8vw 0.4vw var(--accent1);
    font-family: Monday Champions, Painter Personal Use Only;
    transform: rotate(-5deg);
    position: absolute;
    bottom: 1%;
    left: 2%;
    transition: text-shadow 0.3s ease-in-out;
  }

  .experience:hover{
    
    text-shadow: 0vw 0vw 0.4vw var(--accent1);
  }

  @media (max-width: 1000px){
    .aboutimage{
      /* border: yellow solid 1px; */
      width: 40vw;
      height: 40vw;
      position: absolute;
      top: 0vw;
      right: 1vw;
    }
    .aboutTopText{
      /* border: 1px solid yellow;; */
      position: absolute;
      font-size: 4vw;
      top: 2vw;
      width: 41vw;
      height: max-content;
      left: 7%;
    }
    .aboutMe {
      position: absolute;
      font-size: 13vw;
      top: 25%;
      width: 41vw;
      height: max-content;
      left: 0%;
    }
    .aboutAbout{
      position: relative;
      left:3.1%;
      padding: 1vw;
      font-size: 3vw;
      text-align: left;
      top: 45%;
      width: 94%;
      height: max-content;
      color: var(--text-color);
      font-weight: 100;
      justify-content: center;
    }
    .aboutAbout .greeting{
      font-size: 8vw;
      font-weight: 100;
      transform: rotate(-5deg);
      position: relative;
      top: -4vw;
    }
  
    .aboutAbout .lebitso{
      display: block;
      font-size: 5vw;
      position: relative;
      top: -1.5vw;
      
    }
  
    .aboutAbout .lebitso::after{
      width: 58%;
      height: 8px;
      background-color: transparent;
      box-shadow: var(--border-glass-shadow);
      position: absolute;
      top: 5.5vw;
      left: 0vw;
    }
    .experience {
      font-size: 13vw;
      height: max-content;
      position: absolute;
      bottom: -6%;
      left: 5%;
      transition: text-shadow 0.3s ease-in-out;
    }

    
  }
  
  @media (max-width: 700px){
    .aboutimage{
      width: 45vw;
      height: 45vw;
      position: absolute;
      top: 0vw;
      right: 1vw;
    }
    .aboutTopText{
      /* border: 1px solid yellow;; */
      position: absolute;
      font-size: 6vw;
      top: 1vw;
      width: 41vw;
      height: max-content;
      left: 4%;
    }
    .aboutTopText span{
      letter-spacing: 0.4vw;
      font-size: 6vw;
      position: relative;
      top: -0.8vw;    
    }
    .aboutMe {
      position: absolute;
      font-size: 13vw;
      top: 31%;
      width: 41vw;
      height: max-content;
      left: 0.5%;
    }
    .aboutAbout{
    
      top: 50%;
      padding: 2vw;
      font-size: 3.2vw;
      text-align: left;
      width: 86vw;
      font-weight: 100;
      left: 6.7%;
      }
    .aboutAbout .greeting{
      font-size: 8vw;
      font-weight: 100;
      transform: rotate(-5deg);
      position: relative;
      top: -4vw;
    }
  
    .aboutAbout .lebitso{
      display: block;
      font-size: 5vw;
      position: relative;
      top: -1.5vw;
      
    }
  
    .aboutAbout .lebitso::after{
      width: 65%;
      height: 6px;
      background-color: transparent;
          position: absolute;
      top: 5.5vw;
      left: 0vw;
    }
    .experience {
      font-size: 13vw;
      height: max-content;
      position: absolute;
      bottom: -20%;
      left: 5%;
    }
  }

  @media (max-width: 500px){
    .experience {
      font-size: 13vw;
      height: max-content;
      position: absolute;
      bottom: -20%;
      left: 6%;
    }
    .aboutMe {
      position: absolute;
      font-size: 13vw;
      top: 31%;
      width: 41vw;
      height: max-content;
      left: 1%;
    }
    .aboutTopText{
      /* border: 1px solid yellow;; */
      position: absolute;
      font-size: 6vw;
      top: 0;
      width: 41vw;
      height: max-content;
      left: 4%;
    }
    .aboutAbout .lebitso::after{
      height: 5px;
    }
  }

  
  
  
  