#experience {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-top: 2vw;
  /* border: 1px solid yellow; */
  position: relative;
  top: -2vw;
}

.boxExp{
  /* border: 1px solid yellow; */
  background-color: var(--text-color);
  opacity: 0.9;
  border-radius: 10px;
  padding: 2vw;
  width: 40vw;
  height: 22vw;
  color: var(--text-color2);
  box-shadow: 0 0 1vw var(--accent1-glow);
  position: relative;
}

.tutoring{
  height: 29vw;
}

.tutoring .boxDesc span{
  font-weight: bold;
}

.boxTitle{
  display: block;
  font-size: 3vw;
  font-weight: bold;
  width: 70%;
  margin: auto;
  text-wrap: pretty;
  text-align: center;
  position: relative;
  margin-bottom: 2vw;
}

.boxTitle::after{
  content: '';
  width: 50%;
  height: 2px;
  background-color: var(--text-color2);
  position: absolute;
  top: 6.8vw;
  left: 7.1vw;
}


.boxCompany{
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 0.7vw;
  text-align: center;
}

.boxPeriod{
  font-size: 1.3vw;
  margin-bottom: 0.7vw;
}

.boxDesc{
  position: relative;
  margin-top: 1.2vw;
  font-size: 1.3vw;
  margin-bottom: 0.7vw;
}

.boxDesc::before{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--text-color2);
  position: absolute;
  top: -0.5vw;
  left: 0vw;
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 2.8vw;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2vw 1vw;
}

.skill{
  font-size: 1.2vw;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--accent1);
  padding: 0.2vw 1vw;
  border-radius: 5px;
}

.boxLogo {
  position: absolute;
  bottom: 1.7vw;
  left: 1.5vw;
  width: 2vw;
  height: 2vw;
}

.boxLogo img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.Mizana {
  width: 6vw;
  height: 6vw;
  position: absolute;
  bottom: -2.2vw;
  left: 1.5vw;
  
}

@media (max-width: 1010px){
  #experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 2vw;
    position: relative;
    top: 6vw;
  }
  .boxExp{
    padding: 2vw;
    width: 70vw;
    height: 43vw;
    box-shadow: 0 0 2vw var(--accent1-glow);
    position: relative;
  }
  .tutoring{
    height: max-content;
  }

  .tutoring .boxTitle::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--text-color2);
    position: absolute;
    top: 6vw;
    left: 10%;

  }


  .boxTitle{
    font-size: 5vw;
    width: 70%;
    margin: auto;
    position: relative;
    margin-bottom: 2vw;
  }

  .boxTitle::after{
    content: '';
    width: 61%;
    height: 2px;
    position: absolute;
    top: 11vw;
    left: 20%;
  }

  .boxCompany{
    font-size: 2.5vw;
    margin-bottom: 0.7vw;
    text-align: center;
  }
  
  .boxPeriod{
    font-size: 2.3vw;
    margin-bottom: 1.5vw;
  }

  .boxDesc{
    position: relative;
    margin-top: 1.2vw;
    font-size: 3vw;
    margin-bottom: 1.5vw;
  }

  .boxDesc::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--text-color2);
    position: absolute;
    top: -0.75vw;
    left: 0vw;
  }

  .skillset {
    /* border: 1px solid rgb(0, 0, 0); */
    height: 4vw;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2vw 1vw;
  }
  
  .skill{
    font-size: 2.6vw;
    font-weight: bold;
    padding: 0.2vw 1vw;
    border-radius: 5px;
  }

  .boxLogo {
    position: absolute;
    bottom: 2.5vw;
    left: 2.5vw;
    width: 4.3vw;
    height: 4.3vw;
  }
  
  .boxLogo img {
    width: 100%;
    height: auto;
    opacity: 0.7;
  }
  
  .Mizana {
    width: 9vw;
    height: 6vw;
    position: absolute;
    bottom: 0vw;
    left: 3vw;
    
  }
  




}

@media (max-width: 700px){
  #experience {
    gap: 2vw;
    padding-top: 10vw;
    position: relative;
    top: 6vw;
  }
  .boxExp{
    padding: 2vw;
    width: 86vw;
    height: 50vw;
    box-shadow: 0 0 2vw var(--accent1-glow);
    position: relative;
  }
  .tutoring{
    height: 68vw;
  }

  .tutoring .boxTitle::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--text-color2);
    position: absolute;
    top: 7vw;
    left: 10%;

  }


  .boxTitle{
    font-size: 6vw;
    width: 70%;
    margin: auto;
    position: relative;
    margin-bottom: 2vw;
  }

  .boxTitle::after{
    content: '';
    width: 61%;
    height: 2px;
    position: absolute;
    top: 13vw;
    left: 20%;
  }

  .boxCompany{
    font-size: 3vw;
    margin-bottom: 1vw;
    text-align: center;
  }
  
  .boxPeriod{
    font-size: 2.7vw;
    margin-bottom: 1.5vw;
  }

  .boxDesc{
    position: relative;
    margin-top: 1.2vw;
    font-size: 3.3vw;
    margin-bottom: 1.5vw;
  }

  .boxDesc::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--text-color2);
    position: absolute;
    top: -0.75vw;
    left: 0vw;
  }

  .skillset {
    /* border: 1px solid rgb(0, 0, 0); */
    height: 5vw;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2vw 1vw;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
  }
  
  .skill{
    font-size: 3vw;
    font-weight: bold;
    padding: 0.2vw 1vw;
    border-radius: 5px;
  }

  .boxLogo {
    position: absolute;
    bottom: 2.5vw;
    left: 2.5vw;
    width: 4.3vw;
    height: 4.3vw;
  }
  
  .boxLogo img {
    width: 100%;
    height: auto;
    opacity: 0.7;
  }
  
  .Mizana {
    width: 9vw;
    height: 6vw;
    position: absolute;
    bottom: 0vw;
    left: 3vw;
    
  }

  
}

@media (min-width: 500px){
  
}

