main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vw;
}

.about{
  text-shadow: 0 1vw 0.5vw var(--accent1);
}
.about-divider {
    /* border: 2px solid rgb(0, 255, 64); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* position: relative; */
    padding-right: 5vw;
    padding-left: 5vw;
    
    margin-bottom: 1vw;
    justify-items: left;
    column-gap: 5vw;
  }
  .first-half{
    /* border: 1px solid rgb(234, 0, 255); */
    height: 53vw;
    width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
  }

  .second-half{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    /* border: 1px solid rgb(255, 17, 0); */
    width: 100%;
  }

  #interests{
    display: flex;
    flex-direction: column;
    gap: 0vw;
    align-items: left;
    /* border: 1px solid rgb(255, 223, 0); */
    width: 100%;
  }

  .interest-container{
    /* border: 2px solid rgb(0, 255, 64); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* position: relative; */
    padding: 0;;
    
    margin-bottom: 1vw;
    justify-items: left;
    column-gap: 5vw;
  }

  .values{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid rgb(255, 223, 0); */
    
  }

  .description-half{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    /* border: 1px solid rgb(0, 255, 251); */
    width: 100%;
  }

  .picture-half{
    /* border: 1px solid rgb(234, 0, 255); */
    height: 53vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .opener{
   
    text-align: center;
  }
  
  .aboutimage{
    width: 100%;
    border-radius: 10px;
    z-index: 0;
    padding: 0.5vw;
    background-color: var(--accent2);
    box-shadow: 0 0 1vw var(--accent1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    margin-top: 3vw;
  }
  .aboutimage:hover{
    box-shadow: 0 0 2vw var(--accent1);
  }

  .resume {
    width: 70%;
    height: 70%;
    background: var(--glass-background2);
    border: var(--glass-border);
    box-shadow: var(--glass-shadow);
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 0 0 0.3vw black;
    transition: opacity 3s ease-in-out;
    transition: transform 2s ease-in-out;
    opacity: 0;
    z-index: 100;
    color: var(--text-color)
  }
  .resume:hover{
    opacity: 1;
    /* box-shadow: -0.5vw 0.5vw 5vw rgb(0, 0, 0); */

  }
  .resume:active{
    transform: scale(0.8);
  }

  .aboutIMG{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    /* display: none; */
  }

  .aboutTopText{
    /* border: 1px solid yellow;; */
    position: relative;
    text-wrap: pretty;
    font-size: 3.8vw;
    font-weight: bold;
    background: transparent;
    text-align: center;
    bottom: 0%;
    width: 65%;
    height: max-content;
    top: -5vw;
    color: var(--text-color);
    z-index: 1;
    text-shadow: -0.5vw 0.5vw 0.7vw var(--accent1);
  }

  .aboutTopText span{
    font-family: Painter Personal Use Only, "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 0.4vw;
    font-size: 5vw;
    position: relative;
    top: -1.5vw;    
  }

  .aboutTopText span::after{
    content: '';
    width: 95%;
    height: clamp(5px, 2vw, 30px);
    background-color: transparent;
    box-shadow: inset 0 0 1vw var(--accent1);

    position: absolute;
    top: 90%;
    left: 0%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 5px;
  }

  .collage{
    margin-top: 0;;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
  }

  .collage img{
    width: 47%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: -0.5vw 0.5vw 0.2vw var(--accent1);
  }

  

  .aboutMe {
    /* position: absolute;
    top: 0%; */
    /* text-wrap: pretty; */
    font-size: 10vw;
    font-weight: 200;
    background: transparent;
    text-align: center;
    width: max-content;
    height: max-content;
    color: var(--text-color);
    text-shadow: -0.8vw 0.8vw 0.4vw var(--accent1);
    font-family: Monday Champions, Painter Personal Use Only;
    transform: rotate(-5deg);
    transition: text-shadow 0.3s ease-in-out;
  }

  .aboutMe:hover{
    text-shadow: 0vw 0vw 0.4vw var(--accent1);
  }

  .aboutAbout{
    /* position: absolute; */
    background: var(--glass-background);
    border: var(--glass-border);
    box-shadow: var(--glass-shadow);
    border-radius: 10px;
    padding: 1vw;
    padding-top: 2vw;
    text-wrap: pretty;
    font-size: 1.65vw;
    font-weight: bold;
    text-align: left;
    top: 22%;
    width: 46vw;
    height: max-content;
    left: 4%;
    color: var(--text-color);
    font-weight: 100;
  }

  .aboutAbout .greeting{
    font-family: Monday Champions, Painter Personal Use Only;
    font-size: 5.5vw;
    font-weight: 100;
    transform: rotate(-5deg);
    /* border: 1px solid yellow; */
    position: relative;
    top: -1vw;
    display: flex;
    justify-content: center;
  }

  .aboutAbout .lebitso{
    display: block;
    /* font-family: Monday Champions, Painter Personal Use Only; */
    font-size: 4vw;
    position: relative;
    top: -1.5vw;
    text-align: center;
    
  }

  .values-description{
    width: 100%;
  }

  .lebitso::after{
    content: '';
    width: 100%;
    height: 10px;
    background-color: transparent;
    box-shadow: var(--border-glass-shadow);
    border-radius: 5px;
    position: absolute;
    bottom: -0.9vw;
    left: 0%;
  }
  



  @media (max-width: 1010px){
    #about {
      /* border: 1px solid rgb(0, 255, 64); */
      display: grid;
      /* position: relative; */
      padding-right: 5vw;
      padding-left: 5vw;
      margin-top: 2vw;
      margin-bottom: 5vw;
      justify-items: center;
      row-gap: 18vw;
      grid-template-columns: 1fr;
      grid-auto-flow: dense;
    }
    .about{
      color: var(--accent1);
      text-shadow: none;
    }

    #interests{
      display: flex;
      flex-direction: column;
      gap: 0vw;
      align-items: center;
      /* border: 1px solid rgb(255, 223, 0); */
      width: 100%;
    }

    #about > *:nth-child(1) { order: 2; } 
    #about > *:nth-child(2) { order: 1; }

    .first-half{
      /* border: 1px solid rgb(234, 0, 255); */
      height: 95vw;
      width: 90%;
      
    }

    .picture-half{
      display: none;
    }

    .interest-container{
      display: block;
      margin-bottom: 4vw;
    }

  
    .second-half{
      /* border: 1px solid rgb(255, 17, 0); */
      display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: left;
    justify-content: left;
    
    width: 100%;
    }
    .aboutimage{
      /* border: yellow solid 1px; */
      width: 100%;
     
    }
    .aboutTopText{
      /* border: 1px solid yellow;; */
     
      font-size: 8vw;
      height: max-content;
      width: 60%;
      top: -10vw;
    }

    .music{
      display: none;
    }
    .aboutTopText span{
      font-size: 8vw;
    }

    .aboutMe {
      font-size: 18vw;
      /* left: -24vw; */
      position: relative;
    }
    .aboutAbout{
      padding: 3vw;
      font-size: 3vw;
      text-align: left;
      width: 100%;
      height: max-content;
      color: var(--text-color);
      font-weight: 100;
      justify-content: center;
    }
    .aboutAbout .greeting{
      font-size: 8vw;
    }
  
    .aboutAbout .lebitso{
      display: block;
      font-size: 5vw;
      position: relative;
      top: -1.5vw;
      text-align: center;
      margin-bottom: 3vw;
      
    }


  
    .lebitso::after{
      width: 66%;
      height: 15px;
      background-color: transparent;
      box-shadow: var(--border-glass-shadow);
      position: absolute;
      left: 17%;
      bottom: -3vw;
    }


    
  }
  
  @media (max-width: 700px){
    #about{
      margin-top: 0;
      margin-bottom: 0;
    }
    
    .aboutimage{
      display: none;
      width: 45vw;
      height: 45vw;
      position: absolute;
      top: 0vw;
      right: 1vw;
    }
    .aboutTopText, .first-half{
      display: none;
    }
    .lebitso::after{
      height: 10px;
    }
    .second-half{
      justify-content: left;
      align-items: left;
    }
    .aboutMe{
      position: relative;
      /* left: -25vw; */
    }

    
  }

  @media (max-width: 500px){
    
    
  }

  
  
  
  