#projects{  
  position: relative;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 2vw;
  margin-bottom: 1vw;
  padding-top: 0;

}

.project{
  text-shadow: 0 1vw 0.5vw var(--accent1);
}
ul{
  padding: 1.2vw;
}

.projects {
  display: block;
  font-size: 12vw;
  font-weight: 200;  
  background: transparent;
  text-align: left;
  height: max-content;
  color: var(--text-color);
  text-shadow: -0.8vw 0.8vw 0.4vw var(--accent1);
  font-family: Monday Champions, Painter Personal Use Only;
  transform: rotate(-5deg);
  
  transition: text-shadow 0.3s ease-in-out;
}

.projects:hover{
  text-shadow: 0vw 0vw 0.4vw var(--accent1);
}

.boxProj{
  /* border: 1px solid yellow; */
  background: var(--glass-background);
  
  border-radius: 10px;
  padding: 2vw;
  width: 80vw;
  height: max-content;
  color: var(--text-color1);
  box-shadow: var(--glass-shadow);
  border: var(--glass-border);
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  position: relative;
}

.projImageBox {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-left: 1%;
  margin-top: -1%;
  /* border: 1px solid black; */
  
  border-radius: 10px;
  position: relative;
  
}

.gifbox{
  background-image: url(RobotGif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vw;
  border-radius: 10px;
  margin-top: 2vw;
}
.projImageBox img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 0 0 2vw var(--accent1-glow);
  transition: box-shadow 200ms ease-in-out;
}
.projImageBox img:hover{
  box-shadow: 0 0 0.5vw var(--accent1-glow);
}


.projInfo{
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3%;
  margin-top: 1vw;
}

.projTitle {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.projCompany{
  font-size: 1.2vw;
  font-style: italic;
  margin-bottom: 0.5vw;
}

.projDesc{
  font-size: 1.2vw;
}

.ProjSkillset{
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 2.8vw;
  justify-content: flex-end;
  align-items: center;
  padding: 0.1vw 0.5vw;
  justify-content: center;
  width: 100%;

}


#contact{
  /* border: 1px solid yellow; */
  margin-top: 5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  padding-right: 1.3vw;
  margin-bottom: 5vw;
}

.contact{
  display: block;
  font-size: 12vw;
  font-weight: 200;  
  background: transparent;
  /* text-align: left; */
  height: max-content;
  color: var(--text-color);
  text-shadow: -0.8vw 0.8vw 0.4vw var(--accent1);
  font-family: Monday Champions, Painter Personal Use Only;
  transform: rotate(-5deg);
  /* position: absolute; */
  /* bottom: -15vw;
  left: 2%; */
  transition: text-shadow 0.3s ease-in-out;
  /* justify-content: left; */
  width: max-content;
  /* margin-left: 2vw; */
}

.contact:hover{
  text-shadow: 0vw 0vw 0.4vw var(--accent1);
}

#contact svg {
  width: 3vw;
  height: 3vw;
  fill: var(--accent1);
  transition: width 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  position: relative;
}


#contact svg:hover {
  width: 3.2vw;
  height: 3.2vw;
  fill: rgba(0, 0, 0, 0.673);
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: space-around;
  /* border: 1px yellow solid; */
  width: 50%;
  margin-right: 0;
  margin-top: 1vw;
}

.blur svg{
  filter: blur(3px);
  z-index: -999;
}
.blur {
  position: absolute;
  top: 75%;
}

.contact-detail{
  color: black;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
  width: max-content;
  border: 1px solid yellow;
  padding: 10%;
  border-radius: 5px;
  z-index: 5000;
  background-color: rgba(255, 255, 255, 0.915);
  position: relative;
  top: -50%;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
}
.contact-detail:nth-child(2){
  left: 0%;
}
.contact-detail:hover{
  opacity: 1;
}


@media (max-width: 1010px){
  #projects{  
    position: relative;
    margin-top: 22vw;
    flex-direction: column;
    gap: 2vw;
    padding: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 1vw;
  }
  .projects {
    font-size: 18vw;
    font-weight: 200;  
    bottom: -19vw;
    left: 5%;
    transition: text-shadow 0.3s ease-in-out;
  }

  .boxProj{
    width: 90%;
    height: max-content;
    box-shadow: var(--glass-shadow);
  }

  .projImageBox img {
    box-shadow: 0 0 0.5vw var(--accent1-glow);
  }
  .projInfo{
    width: 120%;
    margin-left: 3%;
    margin-top: 1vw;
  }
  .projTitle {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1vw;
  }
  
  .projCompany{
    font-size: 2.5vw;
    font-style: italic;
    margin-bottom: 1vw;
  }
  
  .projDesc{
    font-size: 2.3vw;
  }

  .ProjSkillset{
    height: 2.8vw;
    align-items: center;
    padding: 0.1vw 0.5vw;
  }

  .trap{
    bottom: 9.5%;
    left: 9.5%;
  }

  .contact{
    font-size: 18vw;
    width: max-content;
    margin-left: 2vw;
  }
  #contact svg {
    width: 3.5vw;
    height: 3.5vw;
    fill: var(--accent1);
  }


}

@media (max-width: 700px){
  #projects{  
    margin-top: 26vw;
  }
  .projects {
    font-weight: 200;  
    bottom: -20vw;
    left: 5%;
    transition: text-shadow 0.3s ease-in-out;
  }

  .boxProj{
    width: 89vw;
    height: 80vw;
  }

  .projImageBox img {
    box-shadow: 0 0 0.5vw var(--accent1-glow);
    margin-top: 2vw;
  }
  .projInfo{
    width: 120%;
    margin-left: 3%;
    margin-top: 1vw;
  }
  .projTitle {
    font-size: 4.3vw;
    font-weight: bold;
    margin-bottom: 1vw;
  }
  
  .projCompany{
    font-size: 3vw;
    font-style: italic;
    margin-bottom: 1vw;
  }
  
  .projDesc{
    font-size: 2.6vw;
  }

  .ProjSkillset{
    padding: 0.1vw 0.5vw;
  }

  .trap{
    top: 75%;
    left: 7.5%;
  }

  .contact{
    font-size: 13vw;
    width: max-content;
    margin-left: 2vw;
  }

  #contact svg {
    width: 4.3vw;
    height: 4.3vw;
    fill: var(--accent1);
  }
}

@media (max-width: 500px){
  .boxProj{
    width: 85vw;
    height: 83vw;
  }
  .ProjSkillset{
    height: 2.8vw;
    padding: 0.5vw 0.5vw;
  }

  .trap{
    top: 68%;
    left: 6.5%;
  }

  .projects {
    /* font-size: 13vw; */
    font-weight: 200;  
    bottom: -22vw;
    left: 5%;
    transition: text-shadow 0.3s ease-in-out;
  }

  #contact svg {
    width: 5vw;
    height: 5vw;
    fill: var(--accent1);
  }

}